# The build directory
/build/

# Libraries
*.so
*.dll
*.dylib
*.a
*.lib

# Executables
*.out
*.exe
*.app

# Visual Studio Clutters
*.pdb

# Visual Studio Code user specific configuration files
.vscode/