# The build directory
/build/

# Libraries
*.so
*.dll
*.dylib
*.a
*.lib
/lib/*

# Executables
*.out
*.exe
*.app
/bin/*

# Visual Studio Clutters
*.pdb

# Visual Studio Code user specific configuration files
.vscode/
